:root{
    --bg-main:#fbfdfe;
    --bg-accent:#eff4fb;
    --accent:#1b6cfe;
}
@font-face{
    font-family: "BankFont";
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'BankFont';
    background-color: var(--bg-main);
}

h1{
    font-weight: 500;
}

nav{
    display:flex;
    justify-content: space-around;
    height:60px;
    align-items: center;
    font-size: 1.2rem;
}
nav div:first-of-type{
    font-size: 1.6rem;
    font-weight: 600;
}

nav ul{
    list-style: none;
    display:flex;
    gap:0.5rem;
}
nav ul li{

}
nav ul a{
    text-decoration: none;
    color:#111;
}


nav ul a:hover{
    text-decoration: underline;
}
nav ul a:active{
    color: var(--accent);
}
nav ul a:visited{

}

.hero{
    position:relative;
    height: 100vh;
    display:flex;
    align-items: center;
    padding:5em;
    justify-content: space-around;
    background-color: var(--bg-accent);
    overflow: hidden;
  

}

.hero div{
     background-color: var(--bg-accent);
}

.hero h1{
    margin-bottom:1em;
    font-weight: 700;
    background-color: transparent;
}
.hero h1 span{
    color: var(--accent);
    background-color: transparent;
}
.hero>div:first-of-type{
    flex-basis: 50vw;
    flex-shrink: 1;
     background-color: var(--bg-accent);
}

.hero>div:nth-of-type(2){
    flex-basis: 49vw;
    flex-shrink: 2;
     background-color: var(--bg-accent);
}
.hero .imagecontainer{
    z-index: 10;
    background-color: transparent;
}
.hero .herocontent{
     z-index: 10;
    background-color: transparent;
}
.hero img{
    z-index: 50;
    height:60%;
    width:60%;
    background-color: transparent;
}

.uppertext{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: transparent;
    
}
.infotext{
    font-size: 1.4rem;;
    line-height: 1.8rem;
    padding:1rem 0;
    background-color: transparent;
    z-index: 2;
}
.hero a{
    background-color: transparent;
}


.blob {
    position:absolute;
    border-radius:50%;
    filter:blur(20px);
    opacity:1;
    z-index: 0;
}
.blob-1{
    width: 500px;
    height: 500px;
    top:0;
    right:5%;
    background:linear-gradient(135deg, #a5c0ff, #c9b8ff);
}
.blob-2{
    width: 300px;
    height: 300px;
    top:10%;
    left:5%;
    background:linear-gradient(135deg, #a5c0ff, #c9b8ff);
}
